@use "@material/theme"with ($primary: #016FA3);

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;
@include card.core-styles;
@include icon-button.core-styles;


*{
	font-family: Arial, Helvetica, sans-serif;
}

.mdc-top-app-bar {
	top: 0;
	left: 0;
}

#controlTable{
	text-align: center;
}

#classField{
	display: grid;
	max-width: 800px;
	margin: auto;
	user-select: none;
}

.seat{
	display: grid;
	grid-template-rows: 40% 60%;
	margin: 5px;
	.stu_num{
		display: grid;
		margin: 0;
		padding-left: 5px;
		place-items: center self-start;
	}
	.name{
		display: grid;
		margin: 0;
		text-align: center;
		place-items: center;
		font-size: 1.25rem;
	}
	p{
		margin: 0;
	}
}