@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/card";
@include card.core-styles;
@include icon-button.core-styles;

.mdc-top-app-bar {
	top: 0;
	left: 0;
}

#classField{
	display: grid;
}

.seat{
	display: grid;
	grid-template-rows: 40% 60%;
	.stu_num{
		display: grid;
		margin: 0;
		padding-left: 5px;
		place-items: center self-start;
	}
	.name{
		display: grid;
		margin: 0;
		text-align: center;
		place-items: center;
	}
	p{
		margin: 0;
	}
}